<template name="administradoresClientes">
	<div class="row">
  <div class="col-md-12">
     <table class="table table-striped table-hover">
       <thead>
         <tr>
           <th>Nombreaaaaaaaa</th>
           <th>Apellido</th>
           <th>Nacimiento</th>
           <th>Direccion</th>
           <th>CP</th>
           <th>Ciudad</th>
           <th>Provincia</th>
           <th>Email</th>
           <th>Telefono</th>
         </tr>
       </thead>
       <tbody>
         {{#each clientes}}
        <tr>  
       <td>{{nombre}}</td>
       <td>{{apellido}}</td>
       <td>{{fechadenacimiento}}</td>
       <td>{{direccion}}</td>
       <td>{{cp}}</td>
       <td>{{ciudad}}</td>
       <td>{{provincia}}</td>
       <td>{{email}}</td>
       <td>{{telefono}}</td>
       <td><button type="submit" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button></td>
        <td><button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></button></td>
         </tr>
           {{/each}}
       </tbody>
     </table>
  </div>
  <div class="col-md-12">
    <form>
      
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Nombre">
      </div>

       <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
      </div>

       <div class="form-group">
        <label for="fechadenacimiento">Fecha de Nacimiento</label>
        <input type="text" class="form-control" id="fechadenacimiento" name="fechadenacimiento" placeholder="Fecha de Nacimiento">
      </div>

       <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
      </div>

       <div class="form-group">
        <label for="codigopostal">Codigo Postal</label>
        <input type="text" class="form-control" id="codigopostal" name="cp" placeholder="Codigo Postal">
      </div>

       <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
      </div>

       <div class="form-group">
        <label for="provincia">Provincia</label>
        <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia">
      </div>


       <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
      </div>

       <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
      </div>
     <input type="submit" value="Enviar" class="btn btn-primary"/>
    </form>
  </div>
</div>
</template>