<template name="administradoresHeader">
	<ul class="nav nav-tabs">
  <li class="{{isActiveRoute regex='administradoresMain' className='active'}}" role="presentation"><a href="{{pathFor 'administradoresMain'}}">Home</a></li>
  <li class="{{isActiveRoute regex='administradoresClientes' className='active'}}" role="presentation"><a href="{{pathFor 'administradoresClientes'}}">Clientes</a></li>
  <li role="presentation"><a href="{{pathFor 'administradoresProyectos'}}">Proyectos</a></li>
  <li role="presentation"><a href="{{pathFor 'administradoresFacturas'}}">Facturas</a></li>
  <li role="presentation"><a href="{{pathFor 'administradoresTickets'}}">Tickets</a></li>
  <li role="presentation"><a href="{{pathFor 'administradoresTienda'}}">Tienda</a></li>
</ul>
</template>