<template name="layout">
  <div class="container">
      {{> header}}
      {{#if isInRole 'cliente' }}
      	{{> clientesHeader}}
      {{/if}}
      {{#if isInRole 'administrador' }}
      	{{> administradoresHeader}}
      {{/if}}
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>