<template name="header">
	 <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'postsList'}}">Panel Nayra</a>
    </div>
     <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </form>
       
    <div class="collapse navbar-collapse" id="navigation">

      <ul class="nav navbar-form navbar-right">
        {{> loginButtons}}
      </ul>
       <ul class="nav navbar-form navbar-right">
  {{#if currentUser}}<li> <button type="submit" class="btn btn-default"><i class="fa fa-bell"></i></button></li>{{/if}}
</ul>
    </div>
  </nav>
</template>