<template name="clientesHeader">
<ul class="nav nav-tabs">
  <li  class="{{isActiveRoute regex='clienteHome' className='active'}}" role="presentation"><a href="{{pathFor 'clienteHome'}}">Home</a></li>
  <li  class="{{isActiveRoute regex='clienteServicios' className='active'}}" role="presentation"><a href="{{pathFor 'clienteServicios'}}">Servicios y Proyectos</a></li>
  <li  class="{{isActiveRoute regex='clientePagos' className='active'}}" role="presentation"><a href="{{pathFor 'clientePagos'}}">Pagos y Facturas</a></li>
  <li  class="{{isActiveRoute regex='cclienteMesa' className='active'}}" role="presentation"><a href="{{pathFor 'clienteMesa'}}">Mesa de Ayuda</a></li>
  <li  class="{{isActiveRoute regex='clienteTienda' className='active'}}" role="presentation"><a href="{{pathFor 'clienteTienda'}}">Tienda</a></li>
</ul>
</template>
