<template name="clientePerfil">
	<div class="panel panel-default">
  <div class="panel-heading">Usuario</div>
  <div class="panel-body">
  {{#each clientes}}
   <div class="col-md-12">
    <form>
      
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}" placeholder="Nombre">
      </div>

       <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" value="{{apellido}}" placeholder="Apellido">
      </div>

       <div class="form-group">
        <label for="fechadenacimiento">Fecha de Nacimiento</label>
        <input type="text" class="form-control" id="fechadenacimiento" name="fechadenacimiento" value="{{fechadenacimiento}}" placeholder="Fecha de Nacimiento">
      </div>

       <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion" value="{{direccion}}" placeholder="Direccion">
      </div>

       <div class="form-group">
        <label for="codigopostal">Codigo Postal</label>
        <input type="text" class="form-control" id="codigopostal" name="cp" value="{{cp}}" placeholder="Codigo Postal">
      </div>

       <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" value="{{ciudad}}" placeholder="Ciudad">
      </div>

       <div class="form-group">
        <label for="provincia">Provincia</label>
        <input type="text" class="form-control" id="provincia" name="provincia" value="{{provincia}}" placeholder="Provincia">
      </div>


       <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="{{email}}" placeholder="Email">
      </div>

       <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" value="{{telefono}}" placeholder="Telefono">
      </div>
     <input type="update" value="Enviar" class="btn btn-primary"/>
    </form>
  </div>
{{/each}}
</div>
</div>
</template>	